{% extends "base.html" %}
{% block title %}Send Email{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-sm-center">
    <div class="col-sm-8 col-sm-offset-4 bg-light ml-5 mr-5 pt-5 pb-5 abstract">

        <h1 class="ml-5">Abstract</h1>
        <div class="abs-content ml-5 mr-5">
        Emails have become a part of our daily lives either for business communication or for personal use. 
        Users can send emails to multiple individuals, making it easier to communicate information to large groups of people. 
        Sending emails are not only a fast, cheap and efficient way to communicate but also provide an effective way to transmit 
        electronic data, schedule meetings and set priority-based tasks to complete etc. 
        Common voice assisted software's such as Amazon's Alexa, Apple's Siri and Google's Assistant have the ability to answer 
        questions like "What is the weather like today?" and do tasks such as "Set my alarm for 9:00am". 
        However, we have not yet seen the ease of sending emails through the aforementioned voice-activated assistants. 
        <br>
        In this paper, we design a product called 'Alaska' that will primarily take raw speech from a user and convert 
        it to a structured email which can be further tweaked for minor changes and then sent to the recipient. 
        The intelligent assistant makes use of pattern matching, text classification and question answering to interact with what the user says to the system. 
        The system in response either carries out the instruction or asks a following question to clarify what it has been asked of.
    
        </div>
    
    </div>    
</div>
<br>
    <div class="row d-flex justify-content-sm-center">
        <div class="col-sm-2">
            Created By: 
        </div>
    </div>
    <br>
    <div class="row d-flex justify-content-sm-center">
        <div class="col-sm-2">
            Umar Salman  
        </div>
        <div class="col-sm-2">
            Maha Tufail Agro 
        </div>
        <div class="col-sm-2">
            Arslan Mansoor
        </div>
    </div>
    <div class="row d-flex justify-content-sm-center">
        <div class="col-sm-2">
            MBZUAI  
        </div>
        <div class="col-sm-2">
            MBZUAI 
        </div>
        <div class="col-sm-2">
            MBZUAI
        </div>
    </div>
    <br>
    <br>

{% endblock %}